* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #063758; */
  color: white;
  line-height: 1.6;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #063758;
  z-index: 100;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
  padding: 0px 10px 0px 10px;
  padding-bottom: 10px;
}
.menu-btn {
  display: none;
  border: none;
  background-color: inherit;
}

.navbar a:hover {
  color: #bbb;
  border-bottom: 2px solid;
}

/* Hero */
.hero {
  /* background-image: url("../images/hero.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background: #0a6c9f;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.btn-primary {
  padding: 12px 30px;
  background: #063758;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: none;
  border: none;
}

.btn-primary:hover {
  transform: translateY(-4px) scale(1.03);
  background: white;
  color: black;
}

section {
  padding: 80px 40px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(6, 55, 88, 0.95) 0%,
    rgba(10, 108, 159, 0.9) 100%
  );
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: white;
}

/* Services */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-card {
  background: #fcfcfc;
  padding: 25px;
  border-radius: 12px;
  color: black;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

/* Portfolio */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item {
  border-radius: 12px;
  color: black;
}
.portfolio-item img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
/* Why Choose Us */
.why-us ul {
  max-width: 600px;
  margin: auto;
  text-align: left;
  color: white;
}

.why-us li {
  margin-bottom: 12px;
  padding-left: 15px;
}

/* CTA Banner */
.cta-banner {
  /* background: #0a6c9f; */
  padding: 60px;
  /* border-radius: 12px; */
}

.cta-banner h2 {
  margin-bottom: 20px;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #063758;
  padding: 25px;
  border-top: 1px solid white;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
  .navbar ul {
    text-align: right;
  }
  .logo {
    font-size: small;
    margin-right: 20px;
  }

  .navbar a {
    font-size: 12px;
  }
  /* .menu-btn {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  } */
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-details a {
  text-decoration: none;
  color: white;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #063758;
}

.contact-form textarea {
  resize: vertical;
  min-height: 120px;
}
.submit-contact {
  background-color: #063758;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.testimonial {
  background: #fcfcfc;
  color: #063758;
  padding: 25px;
  border-radius: 12px;
  font-style: italic;
}
.portfolio-item:hover {
  transform: translateY(-5px) scale(1.02);
  opacity: 0.95;
}
.portfolio-item img :hover {
  transform: translateY(-5px) scale(1.02);
  opacity: 0.95;
}
@media (max-width: 768px) {
  .services-grid,
  .portfolio-grid,
  .testimonial-grid,
  .process-steps {
    grid-template-columns: 1fr;
  }

  .contact-form button {
    width: 100%;
  }
}
